@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    padding: 18px;
}

.sign-up-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    border: none;
}

.header-logo{
    font-size: 26px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    width: 500px;
    font-weight:bolder;
    align-items: center;
}
.header-buttons{
    margin-left: auto;
    margin-right: 100px;
    align-items: center;
}
.box{
    padding: 32px;;
}
.one{
    display: flex;
    justify-content: center;
    padding: 32px;
    padding-bottom: 80px;
    padding-right:80px;
    align-items: center;
    gap: 16px;
    background-color: #1F2937;
    justify-content:flex-end;
}
.text_1{
    display: flex;
    flex-direction:column;
    width:500px;
    align-items:flex-start;
    justify-content: center;
    margin-top: 64px;
    gap:16px;
}

.first-heading{
    font-size: 44px;
}
.first-heading,.p1{
    color: #F9FAF8;

}

.img1{
    display:flex;
    margin-top: 64px;
}




ul{
    display: flex;
    list-style-type:none;
    gap: 32px;
}

a{
    color: #F9FAF8;
    text-decoration:none;
}

li{
    font-size: 16px;
    color: #F9FAF8;
}

.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.pic{
    width: 175px;
}

h2{
    
    font-size: 36px;
    color: #1F2937;
}

.categories{
    display:flex;
    justify-content: center;
    gap: 32px;
}

.categories div div a img{
    border-radius: 12px;
    border: solid 5px #3882F6;
}

.cat-p{
    color:#777;
    font-weight:100;
}

.categories-heading{
    margin-bottom: 32px;
}

.three{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 32px;
}


.quote{
    width: 900px;
}
.quote-text{
    font-size: 30px;
    font-family: Italic-light;
    color: #1F2937;
    margin-left: 32px;
    font-weight: 100;
}

.person-1{
    font-size: 20px;
}

.person{
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    margin-top: 24px;
}

.four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.light-card{
    display: flex;
    background-color: #3882F6;
    margin: 64px;
    padding: 64px;
    width: 1000px;
    border-radius: 10px;
    gap: 128px;
    justify-content: center;
    align-items: center;
}

.btn2{
    border:#F9FAF8 solid 4px;
}

.btn2cont{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h3{
    font-size: 24px;
    color: #F9FAF8 ;
}

.pepe{
    color: #F9FAF8 ;
    font-size: 20px;
}

header, footer{
    background-color: #1F2937;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}